
<div lang="es">
  <h1 >María Agustina Ryckeboer</h1>

  <img class="foto" src="foto-agus.JPG" alt="FOTO" />

  <Section class="box">
   <article >María Agustina is studying History at <i>Universidad del Salvador </i> (Bs.As-Argentina). She is particularly interested in Art History. In the future, she hopes to be able to work in museums and historical archives and continue to investigate Digital Humanities. </article>
   <article class="sp" > María Agustina es estudiante de la licenciatura en Historia en la <i>Universidad del Salvador</i> (Bs.As-Argentina). Le interesa particularmente la historia del arte. A futuro espera poder trabajar en museos y archivos históricos y seguir investigando acerca de las Humanidades Digitales.</Article> 
  </section>

</div>

 </div>
<div id="homelink">
  <a href="..">go back home</a>
</div>