<div>
    <h1> Sidra Nadeem</h1>

    <img class="foto" src="mith website pic.jpg" alt="MITH301 logo"/>

    <Section class="box">
        <article> <p>Sidra Nadeem is a junior studying Criminology/Criminal Justice and Spanish at the <i>University of Maryland</i>. She always wanted to be an FBI agent as a child and is now pursuing her dream, while being able to study new languages, like Spanish. </p> 
        <p>She is interested in learning more about Digital Humanities and how it can help in the criminal justice field. She is excited to create a website with her partner, Maria, and learn so much about the digitizing process. </p></article>
        <article class="sp" > <p>Sidra Nadeem se encuentra estudiando Criminología/ Justicia penal y Español en la <i>Universidad de Maryland</i>. Siempre quiso desde pequeña ser un agente del FBI y ahora se encuentra persiguiendo su sueño, a la vez que aprende nuevos idiomas, como el español.</p>
        <p>Está interesada en seguir aprendiendo más acerca de las Humanidades Digitales y en como aplicarlas en el campo penal. Está entusiasmada en crear con su compañera María un sitio web y aprender a programar en el proceso. </p></article>
    </Section>

</div>

</div>
<div id="homelink">
    <a href="..">go back home</a>
</div>


    


    


