/* Add your styles here! */
div {text-align: justify;}

h1 {color: rgb(25, 25, 80); text-align: center;}

li {list-style-type: circle}

.box {display: flex
;flex-direction: row;
justify-content: space-around;
align-items: stretch;}

article {margin: 25px;
padding: 15px;
flex-grow: 1;
width: 4cm;
}

.sp {color:steelblue; text-align: justify;}

#homelink {text-align: right;}

.foto {border-radius: 8px;
display: block; 
margin-left: auto;
margin-right: auto;
width: 25%;}

.aboutfoto {border-radius: 8px;
    display: block; 
    margin-left: auto;
    margin-right: auto;}
